.App {
  font-family: sans-serif;
  text-align: center;
}
.lightmode {
  background-color: white;
  color: black;
}

.darkmode {
  background-color: black;
  color: white;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
} */
